.roundedcornr_box_619660 {
   background: #cccccc;
}
.roundedcornr_top_619660 div {
   background: url(corner-images/roundedcornr_619660_tl.png) no-repeat top left;
}
.roundedcornr_top_619660 {
   background: url(corner-images/roundedcornr_619660_tr.png) no-repeat top right;
}
.roundedcornr_bottom_619660 div {
   background: url(corner-images/roundedcornr_619660_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_619660 {
   background: url(corner-images/roundedcornr_619660_br.png) no-repeat bottom right;
}

.roundedcornr_top_619660 div, .roundedcornr_top_619660, 
.roundedcornr_bottom_619660 div, .roundedcornr_bottom_619660 {
   width: 100%;
   height: 20px;
   font-size: 1px;
}
.roundedcornr_content_619660 { margin: 10px; }

#main
{
float:left;
width:485px;

margin:0px;
}


#footer
{
clear:both;
}

