body{
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
font-family:Century Gothic,Arial Unicode MS,Helvetica,sans-serif;
font-size: 14px;}

img
{  border-style: none;
}

div.surround
{
width:1000px;
margin:0 auto;
background:#FFFFFF;
}
#logo
{
position:relative;
top:30;
width:485px;
border:0px;
}

#menu
{position:relative;
top: 0;
left:500;
width:515px;
}
#menu ul {
text-align:left;
list-style:none;
margin:0;
padding:0;
}
#menu li {
display:inline;
padding:0px;
padding-left:0px;
padding-right:0px;
border-width: 0px;
margin: 0;
}

div.clearer
{
clear:both;
}

#headerspan {
font-size:2.5px;
background-color:#669999;
}


//shadow stuff
#shadow-container {
	position: relative;
	left: 3px;
	top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
}
 
#shadow-container .shadow2,
#shadow-container .shadow3,
#shadow-container .container {
	position: relative;
	left: -1px;
	top: -1px;
}
 
	#shadow-container .shadow1 {
		background: #F1F0F1;
	}
 
	#shadow-container .shadow2 {
		background: #DBDADB;
	}
 
	#shadow-container .shadow3 {
		background: #B8B6B8;
	}
 
	#shadow-container .container {
		background: #f8f6f6;
		border: 1px solid #848284;
		padding: 10px;
	}
