#side{
float:right;
width:300px;
margin:5px;
padding: 5px 5px 5px 15px;
padding-top: 50px;}



.h1{font-size:30px;}
.h2{color:black; font-size:23px; font-family: century gothic; text-align:right;}
.h3{color:#7d7c7c; font-size:23px; font-family: century gothic; text-align:left; padding-top:10px;}

#rcf_date
{float:right;
color:white;
margin:5px;
padding:5px;
font-size:16px;
background-color:#3bc4a8;
padding-left:15px;
padding-right:15px;
}


div.left
{
float:left;
width:652px;
margin:0px;
font-size:22px;
color:#a7a09a;
}


#footer
{
clear:both;
width: 1000px;
}


