#side{
float:right;
width:300px;
margin:5px;
padding: 5px 5px 5px 15px;}



.h1{font-size:30px;}
.h2{color:#71B9B2; font-size:30px;text-align:right;}

#rcf_date
{float:right;
color:white;
width:200px;
margin:5px;
padding:5px;
font-size:16px;
background-color:#71B9B2;
}


div.left
{
float:left;
width:652px;
margin:0px;
font-size:22px;
color:#a7a09a;
}


#footer
{
clear:both;
width: 1000px;
}


